extends ../layouts/application.pug

block header 
  h1=t('views.users.edit.editUser')

block content
  form(action=`/users/${user.id}` method='post')
    +input(user, 'users', 'firstName', errors)(type="text")
    +input(user, 'users', 'lastName', errors)(type="text")
    +input(user, 'users', 'email', errors)(type="text")
    +input(user, 'users', 'password', errors)(type="password")
    +buttonTo(`/users/${user.id}`, 'PATCH')(value=t('views.users.edit.submit')).btn.btn-primary