extends ../layouts/application.pug

block header 
  h1=t('views.users.edit.editUser')

block content
  form(action=`/users/${user.id}` method='post')
    +input(user, 'firstName', errors)(type="text")
    +input(user, 'lastName', errors)(type="text")
    +input(user, 'email', errors)(type="text")
    +input(user, 'password', errors)(type="password")
    input(name='_method' type='hidden' value='PATCH')
    input(class='btn btn-primary' type='submit', value=t('views.users.edit.submit'))