extends ../layouts/application.pug

block header
  .container.w-min-50.text-center
    = t('views.users.new.signUp')

block content
  .container.d-flex.justify-content-center.align-content-center.p-5.border.rounded-3
    .container.min-w-50
      h1= "Тут будет картинка"
    .container.min-w-50
      +formFor()(action=route('users') method='post')
        +input(user, 'email', errors)(type="text")
        +input(user, 'password', errors)(type="password")
        +submit(user)(value=t('views.users.new.submit'))
