extends ../layouts/application.pug

block header
  .container.w-min-50.text-center
    h1= t('views.users.new.signUp')

block content
  .container.d-flex.justify-content-around.p-5.border.rounded-3.w-75.shadow.bg-light
    .container
      img(src=assetPath('assets/task-manager.png') alt="task manager")
    .container
      +formFor()(action='/users' method='POST')
        +input(user, 'firstName', errors)(type="text")
        +input(user, 'lastName', errors)(type="text")
        +input(user, 'email', errors)(type="text")
        +input(user, 'password', errors)(type="password")
        +submit(user)(value=t('views.users.new.submit'))
