extends ../layouts/application.pug

block header 
  h1=t('layouts.application.editStatus')

block content
  .container
    form(action=`/statuses/${status.id}` method='post')
      +input(status, 'statuses', 'name', errors)(type="text")
      +buttonTo(`/statuses/${status.id}`, 'PATCH')(value=t('views.statuses.actions.edit')).btn.btn-primary