extends ../layouts/application.pug

block header 
  h1=t('layouts.application.createStatus')

block content
  .container
    +formFor()(action=route('createStatus') method='POST')
      +input(status, 'statuses', 'name', errors)(type="text")
      +submit(status)(value=t('views.statuses.actions.new'))
