extends ../layouts/application.pug

block header 
  h1=t('layouts.application.editLabel')

block content
  .container
    form(action=`/labels/${label.id}` method='post')
      +input(label, 'labels', 'name', errors)(type="text")
      +buttonTo(`/statuses/${label.id}`, 'PATCH')(value=t('views.labels.actions.edit')).btn.btn-primary