extends ../layouts/application.pug

block header 
  h1=t('layouts.application.createLabel')

block content
  .container
    +formFor()(action=route('createLabel') method='POST')
      +input(label, 'labels', 'name', errors)(type="text")
      +submit(label)(value=t('views.labels.actions.new')) 
