extends ../layouts/application.pug

block header 
  h1=t('layouts.application.editTask')

block content
  +formFor()(action=`/tasks/${task.id}` method='POST')
    +input(task, 'tasks', 'name', errors)(type="text")
    +textarea(task, 'tasks', 'description')
    +select(statuses, 'tasks', 'statusId', errors)
    +select(users, 'tasks', 'executorId', errors)
    +select(labels, 'tasks', 'labels', errors)
    input(name="_method" type="hidden" value='PATCH')
    +submit(task)(value=t('views.tasks.actions.edit'))
