extends ../layouts/application.pug

block header 
  h1=t('layouts.application.createTask')

block content
  +formFor()(action=route('createTask') method='POST')
    +input(tasks, 'tasks', 'name', errors)(type="text")
    +textarea(tasks, 'tasks', 'description')
    +select(statuses, 'tasks', 'status', errors)
    +select(users, 'tasks', 'executor', errors)
    +select(labels, 'tasks', 'labels', errors)
    +submit(tasks)(value=t('views.tasks.actions.new'))
